import { Body, Controller{{#httpMethods}}, {{.}}{{/httpMethods}}, Param, Query, Req, HttpCode } from '@nestjs/common';
import { Observable } from 'rxjs';
import type { Request } from 'express';
import { {{classname}} } from '../{{apiPackage}}/index.js';
import type { {{#tsImports}}{{classname}}, {{/tsImports}} } from '../{{modelPackage}}/index.js';

@Controller()
export class {{classname}}Controller {
  constructor(private readonly {{classVarName}}: {{classname}}) {}

{{#operations}}
{{#operation}}
  @{{#vendorExtensions.x-http-method}}{{.}}{{/vendorExtensions.x-http-method}}{{^vendorExtensions.x-http-method}}{{httpMethod}}{{/vendorExtensions.x-http-method}}('{{path}}')
  {{#vendorExtensions.x-controller-http-code}}@HttpCode({{.}})
  {{/vendorExtensions.x-controller-http-code}}
  {{operationId}}({{#allParams}}{{#isPathParam}}@Param('{{paramName}}') {{/isPathParam}}{{#isQueryParam}}@Query('{{paramName}}') {{/isQueryParam}}{{#isBodyParam}}@Body() {{/isBodyParam}}{{paramName}}: {{{dataType}}}, {{/allParams}}@Req() request: Request): {{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}void{{/returnType}} | Promise<{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}void{{/returnType}}> | Observable<{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}void{{/returnType}}> {
    return this.{{classVarName}}.{{operationId}}({{#useSingleRequestParameter}}{ {{/useSingleRequestParameter}}{{#allParams}}{{paramName}}, {{/allParams}}{{#useSingleRequestParameter}}}, {{/useSingleRequestParameter}}request);
  }

{{/operation}}
{{/operations}}
}
